<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<form id="form1" method="post" action="/hoss-web/kbd/KbdScheduleTime/addKbdWordsDataByExcel.do" enctype="multipart/form-data">
    <tr>
        <td width="25%" align="right">上传关键词文件：</td>
        <td><input id="fileWords" type="file" NAME="fileWords" style="width:300px;"></td>
    </tr>
    <tr align="center" valign="middle">
        <td height="60" colspan="2"><input type="submit" ID="BtnOK" value="确认上传"></td>
    </tr>
</form>
<form id="form2" method="post" action="/hoss-web/kbd/KbdScheduleTime/addKbdAllianceDataByExcel.do" enctype="multipart/form-data">
    <tr>
        <td width="25%" align="right">上传网盟文件：</td>
        <td><input id="fileAlliance" type="file" NAME="fileAlliance" style="width:300px;"></td>
    </tr>
    <tr align="center" valign="middle">
        <td height="60" colspan="2"><input type="submit" ID="BtnOK1" value="确认上传"></td>
    </tr>
</form>
</body>
</html>